body {
    font-family:Roboto;
    background-color: #96F5F1;
    color:#F5692C
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Playfair Display";
}
h1 {
    font-size:45pt;
}

header {   
    text-align:center;

}

#hero, footer {
    color:#FF0109;
    background-color:#04F000;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align:center;
    margin: 1;
    border: 3px solid #ff0008;
}

section #hobbies {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#hobbies address h2,h2 {
    font-size: 2rem;
    text-align: center;
}

#hobbies ul li {
    color:black;
    list-style-position: inside;
    text-align: center;
}

/* Gallery Styles */
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.gallery-container figure{
    margin: 0;
}

.gallery-container img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-container img:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

/* Responsive Styles */
@media screen and (max-width: 768px){
    .gallery-container{
        grid-template-columns: 1fr;
    }
}

#lit {
    border: 3px dotted #04F000;
    text-align:center;
    color:#000000;
    
}

#lit div {
    color:black;
    background-color: #742a86;
    padding:3rem;
    max-width: 70rem;
    margin: 0 auto;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/* Contact Form */

#contactForm {
    padding: 15px;
    max-width: 700px;
    margin:auto;
}
#contactForm label,
#contactForm input,
#contactForm select,
textarea {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}
label {
    font-weight: 600;
}
#contactForm button {
    margin-top: 10px;
    display: block;
    padding: 10px 30px;
    background-color: #04F000;
    font-size: 22px;
    font-weight: 600;
}
/* mobile device compatability */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 90%;
        columns: 30rem;
    }
    
}

/* Large Screen Size */

@media Screen and (min-width: 100em) {
    #gallery {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
    display: none;
    }

    #gallery h2 {
    grid: 1/-1;
    }

    figure {
    display: block;
    }
}

#video {
    text-align: center;
    margin-top: 1cm;
    font-size: 1em;
    color: rgb(163, 113, 5)
}



